
<% if @page.errors %>

	<ul class="errors">
	<% @page.errors.each do |key, value| %>
		<li><%= key %> <%= value.join(' and ') %></li>
	<% end %>
	</ul>
<% end %>

<form action="<%= to(@page.new_record? ? (@page.url << 'new') : @page.url) %>" method="post">
	
	<fieldset class="fields">
		
		<label for="page_title">Title</label>
		<input name="page[title]" id="page_title" value="<%= strip @page['title'] %>" type="text" />
	
		<label for="page_body">Body</label>
		<textarea name="page[body]" id="page_body"><%= strip @page['body'] %></textarea>
		
	</fieldset>
	
	<fieldset class="fields">
		
		<label for="page_tags">Tags</label>
		<input name="page[tags]" id="page_tags" value="<%= @page.tags_to_s %>" type="text" />
		<p class="hints">Comma separated values</p>
		
		<label for="page_publish" class="small">
			<input name="page[publish]" id="page_publish" value="<%= @page.published? %>" type="checkbox" />
			Publish?
		</label>
		
	</fieldset>
	
	<fieldset class="buttons">
		
		<input type="submit" value="Save changes" />
		or <a href="<%= url(@page.url) %>" class="cancel">cancel</a>
	</fieldset>
	
	
</form>


