<!DOCTYPE html>
<html ng-app>
<head>
	<meta charset="utf-8">
	<title><%= @title.nil? ? Site.name : @title %></title>
	
	<link rel="stylesheet" href="/css/base.css">
	<link rel="stylesheet" href="/css/simple-cms.css">
	<link rel="stylesheet" href="/css/main.css">
	
	<link rel="alternate" type="application/rss+xml" title="<%= Site.name %> Feed" href="/feed" />
	
	<!-- JS Libs -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
	
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
	
</head>

	<body>
		
		<div id="container">
			
			<!-- <header>
				<%= @title %>
			</header> -->
		
			<%= erb :_menu %>
		
			<div id="main" role="main">
				<%= yield %>
			</div>
		
			<footer>

			</footer>
			
		</div>
		
		
		<script src="/js/main.js"></script>
	</body>
</html>
