<div class="shortlink">
	<h1>shortlink app</h1>
	<form method="post" action="/shortlink/index">
	    <input type="text" value="<%= h(params[:url]) %>" name="url" id="url" />
	    <input type="submit" value="shorten" id="submit" />
	</form>
	<div class="clear"></div>
	<% if @shortcode %>
	<div class="result">
		<p>
	    Your shortened URL is:
	    </p>
	    <p>
	    	<a href="<%= Site.url_base %>shortlink/<%= @shortcode %>"><%= Site.url_base %>shortlink/<%= @shortcode %></a>
	    </p>
	</div>
	<% end %>
</div>