.done-true {
  text-decoration: line-through;
  color: grey;
}





.shortlink h1 {
    margin-bottom:12px;
    text-align:center;
    color:#ff4b33;
    font-size:40px;
    padding-bottom:8px;
    border-bottom:2px solid #ff4b33;
}
.shortlink form {
    display:block;
    width:400px;
    margin: auto;
}
.shortlink input {
    display:block;
    float:left;
    padding:8px;
    font-size:16px;
}
.shortlink #url {
    width:280px;
    margin-right:12px;
}
.shortlink #submit {
    width:88px;
    border:none;
    background:#ff4b33;
    padding:10px;
}
.shortlink #submit:hover {
    background:#ff7866;
}
.shortlink .clear {
    height:1px;
    width:400px;
    clear:both;
}
.shortlink .result {
    clear:both;
    width:400px;
    margin-top:12px;
    border-top:2px solid #ff4b33;
    padding-top:12px;
    text-align:center;
    margin: auto;
}
.shortlink  .result a {
    font-size:24px;
    margin-top:8px;
    color:#ff2d11;
    background:#ffd2cc;
    padding:8px;
}