/* @override http://mongo-talk.dev/stylesheets/simple-cms.css?v=1 */

/*

2011-06-06 
Dougal MacPherson <hello@newfangled.com.au>

*/

body {
	margin: 0;
	color: #212424;
	padding: 60px 180px 120px 60px;
	background-color: #fff;
	border-top: 10px solid #515151;
	font: 12pt/160% "Lucida Grande", Lucida, Verdana, sans-serif;
}

h1 {
	text-transform: uppercase;
	font: bold 14pt "Lucida Grande", Lucida, Verdana, sans-serif;
	margin-bottom: 10pt;
	letter-spacing: 2pt;
}

h2 {
	text-transform: uppercase;
	font: bold 14pt "Lucida Grande", Lucida, Verdana, sans-serif;
	margin-bottom: 10pt;
	letter-spacing: 2pt;
}

h3 {
	text-transform: uppercase;
	font: bold 10pt "Lucida Grande", Lucida, Verdana, sans-serif;
	margin-bottom: 10pt;
	letter-spacing: 2pt;
}

h4 {
	text-transform: uppercase;
	font: bold 8pt "Lucida Grande", Lucida, Verdana, sans-serif;
	margin-bottom: 10pt;
}

p {
	margin-bottom: 10pt;
}

header {
	font-weight: bold;
}

footer {
	padding-top: 40px;
	color: rgba(145,145,145,0.5);
	font-size: 12pt;
	border-top: 1px dashed #cacaca;
	margin-top: 40px;
	display: block;
	float: left;
	width: 100%;
}

/* @group forms */

fieldset {
	padding-bottom: 20px;
}

label {
	display: block;
	margin-bottom: 5px;
	margin-top: 5px;
}

input[type=text], textarea {
	width: 70%;
	padding: 5pt;
	margin-bottom: 10pt;
}

textarea {
	height: 200px;
}

input[type=submit] {
	padding: 20px;
}

a.cancel {
	color: #c00;
}

p.hints {
	color: #919191;
}

/* @end */

/* @group menu */

menu#main {
	position: fixed;
	top: 0;
	right: 20px;
	margin-left: 0;
	margin-right: 0;
	padding: 20px 20px 70px;
	background: url(../img/background.png) repeat-x center bottom;
	border-top: 10px solid #8a0b06;
}

menu#main ul {
	margin: 0;
}

menu#main li {
	display: inline;
}

menu#main li a {
	color: #fff;
	display: block;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-decoration: none;
	width: 80px;
	text-transform: uppercase;
	font: bold 8pt "Lucida Grande", Lucida, Verdana, sans-serif;

}

menu#main li a:hover {
	text-decoration: underline;
}

/* @group crud */

ul#crud {
	display: block;
	float: left;
	padding-top: 10pt;
}

#crud li h4 {
	color: rgba(245,110,29,0.5);
	font: normal normal 7pt "Lucida Grande", Lucida, Verdana, sans-serif;
	text-transform: uppercase;
}

#crud li a.new {
	margin-bottom: 10pt;
}

/* @end */



/* @end */

/* @group tags */

ul.tags {
	padding: 0;
	display: block;
	float: left;
	width: 100%;
	margin-bottom: 20px;
	margin-left: 0;
	clear: both;
	margin-top: 0;
}

ul.tags li {
	display: inline;
	padding-left: 0;
	margin: 0;
}

.meta {
	text-transform: uppercase;
	font: bold 8pt "Lucida Grande", Lucida, Verdana, sans-serif;
	text-decoration: none;
	color: rgba(145,145,145,0.5);
	margin-right: 10px;
	letter-spacing: 1pt;
	margin-top: 10px;
	margin-bottom: 10px;
}

ul.tags li a {
	display: block;
	float: left;
	padding: 5px;
	text-transform: uppercase;
	font: bold 8pt "Lucida Grande", Lucida, Verdana, sans-serif;
	text-decoration: none;
	background-color: #cacaca;
	color: #fff;
	margin-right: 10px;
	letter-spacing: 1pt;
}

ul.tags li a:hover {
	background-color: #515151;
}



/* @end */

/* @group comments */

#comments {
	display: block;
	float: left;
	clear: both;
	width: 100%;
	background: url(../img/comments.png) no-repeat;
	margin-left: -25px;
	padding-left: 25px;
	font-size: 80%;
	margin-top: 20pt;
}

.comment {
	clear: both;
	display: block;
}

.comment .date, .comment .author {
	color: rgba(145,145,145,0.5);
	font-size: 8pt;
	text-transform: uppercase;
	font-weight: bold;
}



/* @end */